@reboot sudo mkdir /var/app/ && cd /var/app/ && sudo wget https://raw.githubusercontent.com/sojoudian/goWebServerReturnLocalhost/master/goWebServerReturnLocalhost -O /var/app/goWebServerReturnLocalhost && sleep 5 && sudo chmod u+x /var/app/goWebServerReturnLocalhost && sleep 5 && sudo /var/app/goWebServerReturnLocalhost
